/* index */
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #886767;
    --secondary-color: #D4C9BE;
    --title-color: red;
    --text-color: black;
    --border-color: #ff000071;
    --tabla:rgb(148, 54, 54);
    --background: linear-gradient(#886767, #D4C9BE);
    --background-footer: linear-gradient(#D4C9BE, #886767);
}

body {
    height: 100%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color)
}

main {
    width: 80%;
    padding: 50px;
}

.menu {
    display: flex;
    justify-content: end;

}

header {
    width: 100%;
    background: var(--background);
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.a-nav, .portafolio{
    border: double;
    border-radius: 50px;
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
}



.me{
    width: 150px;
    border: double var(--title-color);
    border-radius: 50%;
    
}


h1, h2, .record {
    text-align: center;
    color: var(--title-color);
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    text-transform: capitalize;
  }

p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    color: var(--text-color);
}

video, .youtube{
    width: 400px;
    border: double var(--title-color);
    border-radius: 50px;
    margin-top: 20px;
}
.logo {
    width: 80px;
    border: solid var(--border-color);
    border-radius: 20%;
    float: left;
    margin-right: 20px;

}

.marc {
    float: left;
    margin-right: 10px;
    border-radius: 20px;
}

.guitarra {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-top: 20px;
    border: groove var(--border-color);
    border-radius: 20% 60% 20% 60% / 60% 20% 60% 20%;
}

.mimoto {
    float: left;
    width: 300px;
    margin-right: 30px;
    border: double var(--title-color);
}

.tabla {
    margin: 30px auto 30px auto;
    border-collapse: collapse;
    background-color: var(--tabla);
    width: 30%;
    border: double;
}

.tabla td, .tabla th {
    text-align: center;
    border: 1px solid;
    padding: 5px;
}

.bandas, .pasatiempos, .familia {
    color: var(--text-color);
    margin-top: 100px;
}

dt, dd, li{
    color: var(--text-color)
}
footer{
    width: 100%;
    background: var(--background-footer);
    height: 150px;
    padding-left: 50px;
    padding-top: 20px;
}

aside {
    width: 20% ;
    padding: auto;
}

.cita, .cumple, .bandida {

    border-radius: 20%;
    width: 200px;
    margin-top: 100px;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

/*media queries*/

/* Desde 576px en adelante */
@media (min-width: 576px) {
    body {
      font-size: 16px;
    }
    .menu {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    .me {
      width: 100px;
    }
    .tabla {
      width: 60%;
    }
    aside {
      width: 30%;
      padding: 20px;
    }
  }
  
  /* Desde 768px en adelante */
  @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
    .menu {
      justify-content: space-evenly;
    }
    .guitarra {
      width: 220px;
    }
    .youtube {
      width: 500px;
      height: auto;
    }
    .tabla {
      width: 50%;
    }
    aside {
      width: 25%;
      padding: 40px;
    }
  }
  
  /* Desde 992px en adelante */
  @media (min-width: 992px) {
    body {
      font-size: 20px;
    }
    .portafolio {
      font-size: 24px;
      text-align: center;
      display: block;
    }
    .bandas img.logo {
      width: 150px;
    }
    .tabla {
      width: 40%;
    }
    aside {
      width: 20%;
      padding: auto;
    }
  }